/* styles.css */
.info-window {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 8px;
}

.info-window h2 {
    margin: 0;
    margin-bottom: 15px;
    color: #333;
}

.info-window p {
    margin: 10px 0;
    color: #666;
}

.info-window button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}